<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <title>EphemeralPick</title>
</head>
<body>
    
    <div class="demo-notice" style=" color: red; padding: 10px; border: 2px ; text-align: center;">
        <p>Esta web está en versión demo. Algunas funcionalidades pueden no estar disponibles.</p>
    </div>
    
    <main>
        {% block content %}
        <!-- El contenido de las páginas que extienden esta plantilla será insertado aquí -->
        {% endblock %}
    </main>

    <nav class="Menu">
        <ul>
            <li><a href="/">Jugar</a></li>
            <li><a href="/ver_objetos">Ver Bolsa</a></li>
            <li><a href="/descripcion">Descripción</a></li>
        </ul>
    </nav>

    <script>
        document.cookie = "username=John Doe; expires=" + new Date(new Date().setMonth(new Date().getMonth() + 1)).toUTCString() + "; path=/";
    </script>
</body>
</html>
