<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <title>EphemeralPick</title>
</head>
<body>
    <nav class="Menu">
        <ul>
            <li><a href="/">Jugar</a></li>
            <li><a href="/ver_objetos">Ver Bolsa</a></li>
            <li><a href="/descripcion">Descripción</a></li>
        </ul>
    </nav>
    
    <main>
        {% block content %}
        <!-- El contenido de las páginas que extienden esta plantilla será insertado aquí -->
        {% endblock %}
    </main>
</body>
</html>